.formulario {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.tabla {
  width: 100%;
}



/* utilitario si usas Tailwind v4 no es necesario, pero ayuda a truncar detalles */
.line-clamp-1 {
  display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;
  overflow: hidden;
}
